<div class="container-fluid" ng-if="!userHome.userProfile.username">
    <h1>Waiting for you to login</h1>
    <h1 ng-if="userHome.userProfile.username" >Welcome home {{ userHome.userProfile.username }}</h1>
</div>
<div class="container-fluid" ng-if="userHome.userProfile.username">
    <h1>Welcome home {{ userHome.userProfile.username }}</h1>
</div>
