<div class="container-fluid" ng-controller="MainController as userCtrl">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-bg-6">
      <form class="form-sigin" method="post" ng-submit="userCtrl.doLogin()">
          <input type="text" name="username" placeholder="Username" class="form-control" ng-model="userCtrl.loginData.username">
          <input type="password" name="password" placeholder="Password" class="form-control" ng-model="userCtrl.loginData.password">
          <button type="submit" class="btn btn-success">Login</button>
      </form>

  </div>
</div>
</div>
