<div class="container-fluid" ng-controller="MainController as main">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-bg-6">
            <form name="signupForm" class="form-signup" ng-submit="main.signupUser()">
                <input type="text" name="name" placeholder="Name" class="form-control" ng-model="main.userSignupData.name">
                <input type="text" name="username" placeholder="Username" class="form-control" ng-model="main.userSignupData.username">
                <input type='password' id='password_1' name='password_1' placeholder="Password" ng-model='main.userSignupData.password' class="form-control" ng-required/>
                <input type='password' id='password_2' name='password_2' placeholder="Confirm password" ng-model='password_2' class="form-control" ng-required pw-check='password_1'/>
                <div class="alert alert-danger" role="alert" ng-show="signupForm.password_2.$error.pwmatch">
                    <span class="msg-error" ng-show="signupForm.password_2.$error.pwmatch">Passwords don't match.</span>
                </div>
                <button type="submit" class="btn btn-danger">Signup</button>
            </form>
        </div>
    </div>
</div>
