<!DOCTYPE html>
<html ng-app="MarketApp">

<head>
    <title>Yet another marketplace</title>
    <base href='/'>

    <!-- Stylesheets here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.css" />
    <link rel="stylesheet" href="/app/views/stylesheet/style.css" />

    <!-- angular files -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.js"></script>

    <!-- services -->
    <script type="text/javascript" src="/app/services/mainService.js"></script>
    <script type="text/javascript" src="/app/services/userService.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="/app/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="/app/controllers/userCtrl.js"></script>

    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/app.routes.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>

    <!-- Bootstrap V4 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- jQuery library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</head>

<body ng-controller="MainController as main">
    <header>
        <div class="navbar navbar-default">
            <nav class="navbar navbar-dark bg-inverse">
                <div class="nav navbar-nav">
                    <a ng-if="main.userProfile.username" class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a ng-if="!main.userProfile.username" class="nav-item nav-link" href="/signup">Signup</a>
                    <a ng-if="main.userProfile.username" class="nav-item nav-link" href="/" ng-click="main.doLogout()">Logout</a>
                    <a class="nav-item nav-link" href="#">{{ main.userProfile.username }}</a>
                </div>
                <form ng-if="!main.userProfile.username" class="form-inline pull-xs-right" method="post" ng-submit="main.doLogin()">
                    <input type="text" name="username" placeholder="Username" class="form-control" ng-model="main.loginData.username">
                    <input type="password" name="password" placeholder="Password" class="form-control" ng-model="main.loginData.password">
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </nav>
        </div>
    </header>

    <main class="container-fluid">
        <div ng-view></div>
    </main>
</body>
</html>
